@import url("main.css");
article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
}

#button-ordini {
    display: inline-block;
    background-color: var(--main-color);
    border: 3px solid var(--main-color);
    height: 24px;
    border-radius: 15px;
    color: white;
    margin: 30px 0px;
    font-weight: bold;
    padding: 0px 10px;
    width: fit-content;
}

#button-ordini:hover {
    background-color: white;
    color: var(--main-color);
}