/*------ ARTICOLI -------*/

#prodotti {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

#prodotti .item {
    margin: 1%;
    width: calc(100%/3 - 2% - 10px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid white;
}

#prodotti a {
    color: black;
}

#prodotti .item img {
    height: 250px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 10px;
    margin-top: 10px;
}

@media (max-width: 550px) {
    section,
    #prodotti .item {
        width: 100%;
    }
}

.stelle {
    font-size: 0.8em;
    color: #1ed760;
}

#prodotti .overlay {
    margin-top: 10px;
    height: 80px;
    position: relative;
}

#prodotti .overlay img {
    height: 50px;
    width: 50px;
    padding: 5px;
}

.cuore {
    position: absolute;
    left: 10%;
}

.carrello {
    position: absolute;
    right: 10%;
}

#prodotti .item:hover div {
    background-color: #1ed760;
}

#prodotti .item:hover {
    border-color: #1ed760;
    border-radius: 15px;
}

#prodotti .overlay img:hover {
    width: 55px;
    height: 55px;
}

.descrizione {
    white-space: pre-line;
}

.stelle,
.n-recensioni {
    cursor: pointer;
}

.dettagli {
    color: #777;
    font-size: .8em;
}


/*=========MODALE ============*/

#modal-view,
#modal-view-quantita,
#modal-view-recensioni {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-view.hidden,
#modal-view-quantita.hidden,
#modal-view-recensioni.hidden {
    display: none;
}

.no-scroll {
    overflow: hidden;
}

.modal-content {
    min-width: 200px;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    padding-top: 0px;
}

.modal-content a {
    color: var(--main-color);
}

.modal-content a:hover {
    text-decoration: underline;
}

#prodotto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#prodotto span {
    margin: 10px 0px;
}

#prodotto img {
    max-width: 250px;
    max-height: 300px;
}

.modal-content span.alert {
    margin-top: 10px;
    color: orange;
    display: inline-block;
    width: 250px;
}

.modal-content span.non-disponibile {
    color: red;
    margin-top: 10px;
    display: inline-block;
}

.modal-content span.non-disponibile.hidden {
    display: none;
}

#div-recensioni {
    max-height: 50vh;
    overflow: scroll;
}

#div-recensioni .titolo-recensione {
    margin-left: 5px;
}

#div-recensioni .descrizione-recensione {
    display: inline-block;
    width: 250px;
    margin-bottom: 10px;
}

#div-recensioni .stelle {
    cursor: default;
}

.verificato {
    color: var(--main-color);
    font-size: 0.8em;
}

#load-more {
    display: inline-block;
    padding-bottom: 30px;
    color: lightgray;
}

#load-more.hidden {
    display: none;
}